<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>Longkolp16@gmail.com</li>
                            <li>Miễn phí vận chuyển 99.000VND</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="~/Frontend/img/language.png" alt="">
                            <div>Việt Nam</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                               
                                <li><a href="#">Vietnamese</a></li>
                            </ul>
                        </div>
                        @* <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Login</a>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="~/Frontend/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a  asp-action="Index" asp-controller="Home">Home</a></li>
                        <li><a  asp-action="Shop" asp-controller="Home">Tất cả món ăn</a></li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                        <li>
                            <a href="#">Thông tin</a>
                            <ul class="header__menu__dropdown">
                                <li><a asp-action="Index" asp-controller="Checkout">Thanh toán</a></li>
                                    <li><a asp-action="Index" asp-controller="Customer"> Thông tin cá nhân</a></li>
                                    <li><a asp-action="History" asp-controller="Account">Lịch sử đơn hàng</a></li>
                                <li><a asp-action="Logout" asp-controller="Account">Đăng xuất</a></li>
                            </ul>
                        </li>
                        }
                        <li><a asp-action="Index" asp-controller="Contact">liên hệ</a></li>
                       
                        
                       
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                     @if (User.Identity?.IsAuthenticated ?? false)
                        {
                        <vc:cart></vc:cart>
                        <ul>
                            <li><a  style="color:black;font-weight:bold">
                            <li><a asp-action="Logout" asp-controller="Account" style="color:black;font-weight:bold">Hi,@User.Identity.Name</a></li></a></li>
                        </ul>
                    }
                    else{
                        <ul>
                            <li><a asp-action="Login" asp-controller="Account" style="color:black;font-weight:bold">Đăng nập</a></li>
                        </ul>
                       
                        
                       
                        }

                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>