<!DOCTYPE html>
<html la>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/frontend/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/frontend/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    @Html.Partial("_MenuPartial")
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    @Html.Partial("_HeaderPartial")
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    
   
    
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    @RenderBody()
    
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
    @Html.Partial("_FooterPartial")
   
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Frontend/js/jquery-3.3.1.min.js"></script>
    <script src="~/Frontend/js/bootstrap.min.js"></script>
    <script src="~/Frontend/js/jquery.nice-select.min.js"></script>
    <script src="~/Frontend/js/jquery-ui.min.js"></script>
    <script src="~/Frontend/js/jquery.slicknav.js"></script>
   @*  <script src="~/Frontend/js/mixitup.min.js"></script> *@
    @* <script src="~/Frontend/js/owl.carousel.min.js"></script> *@
    <script src="~/Frontend/js/main.js"></script>
    
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)



</body>

</html>