<form asp-action="Search" asp-controller="Home" method="post">

    <input type="text" placeholder="Nhập từ khóa cần tìm kiếm" name="searchtern">
    <button type="submit" class="site-btn">Tìm kiếm</button>
</form>