<main>
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Nơi nhận hàng : Hòa Phước - Hòa Vang - Đà Nẵng 
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                    <div class="accordion-body">
                      <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                      <div class="card" style="width: 50rem;">
                        <div class="card-header">
                          Tên người nhận : Lê Hoàng Anh Tài
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <a class="sdt" href="">Số điện thoại : 0763058366</a>
                          </li>
                          <li class="list-group-item">Chi tiết địa chỉ : Tổ 3 - Thôn Tân Hạnh - Hòa Phước Hòa vang - Đà Nẵng</li>
                          <li class="list-group-item">Ghi chú : Helooooooooo</li>
                          <li class="list-group-item">Mã đơn hàng : 5235</li>
                          <li class="list-group-item">
                            <button type="button" class="btn btn-success">Xác nhận giao hàng </button>
                          </li>
                        </ul>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Nơi nhận hàng : Hòa Phước - Hòa Vang - Đà Nẵng
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                      <div class="accordion-body">
                        <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                        <div class="card" style="width: 50rem;">
                          <div class="card-header">
                            Tên người nhận : Lê Hoàng Anh Tài
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <a class="sdt" href="">Số điện thoại : 0763058366</a>
                            </li>
                            <li class="list-group-item">Chi tiết địa chỉ : Tổ 3 - Thôn Tân Hạnh - Hòa Phước Hòa vang - Đà Nẵng</li>
                            <li class="list-group-item">Ghi chú : Helooooooooo</li>
                            <li class="list-group-item">Mã đơn hàng : 5235</li>
                            <li class="list-group-item">
                              <button type="button" class="btn btn-success">Xác nhận giao hàng </button>
                            </li>
                          </ul>
                        </div> 
                      </div>
                    </div>
                  </div>      
              </div>
        </div>
    </main>