@model FoodModel

<div class="hero__item set-bg" data-setbg="/image/food/@Model.Image">
    <div class="hero__text">
        <span>@Model.Category.Title</span>
        <h2>@Model.Title <br /> @Model.Price</h2>
        <p>Miễn phí free ship</p>
        <a href="#" class="primary-btn">Đặt ngay</a>
    </div>
</div>