@model FoodModel
@{
    ViewData["title"] = "Thêm mới Món ăn";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Thêm mới món ăn</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Create" asp-controller="Food" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2">
                            <label class="form-label">Tên Món ăn</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label"> Đơn Gía</label>
                            <input asp-for="Price" type="number" pattern="[0-9.,]" class="form-control typing-price" />
                            <span id="price-convert">
                            </span>
                            <span asp-validation-for="Price" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Số lượng</label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Gía vốn ban đầu</label>
                            <input asp-for="CapitalPrice" type="number" pattern="[0-9.,]" class="form-control typing-price" />
                            <span id="price-convert">
                            </span>
                            <span asp-validation-for="CapitalPrice" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Địa chỉ</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Mô tả</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger" />
                        </div>
                        @* <div class="form-group mt-2">
                            <label class="form-label">Địa chỉ quán</label>
                            <input asp-for="DiaChiQuan" class="form-control" />
                            <span asp-validation-for="DiaChiQuan" class="text-danger" />
                        </div> *@
                        @* <div class="form-group mt-2">
                            <label class="form-label">Video</label>
                            <input asp-for="Video" class="form-control" />
                            <span asp-validation-for="Video" class="text-danger" />
                        </div> *@


                        <div class="form-group mt-2">
                            <label class="form-label">Danh mục</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category">
                                <option>--Chọn danh mục</option>

                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Hình ảnh</label>
                            <input asp-for="ImageUpload" type="file" class="form-control-file" />
                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            <img id="imgpreview" class="pt-2" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Trạng thái</label>
                            <select asp-for="Status" class="form-control">
                                <option>--Chọn hiển thị</option>
                                <option value="true">Hiển thị</option>
                                <option value="false">Không hiển thị</option>

                            </select>
                            <span asp-validation-for="Status" class="text-danger" />
                        </div>

                        <div class="form-group mt-2">
                            <button class="btn btn-primary">Thêm mới</button>

                        </div>
                    </form>
                    <a class="mt-3" asp-action="index">Danh sách món ăn</a>

                </div>
            </div>

        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(".typing-price").on("keyup", function () {
            var currency_input = parseFloat($(this).val()) || 0;
            $("#price-convert").html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(currency_input));
        });
    </script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $("img#imgpreview").attr("src", e.target.result).width(200).height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}