@model IEnumerable<FoodOrder.Models.Order.OrderModel>

@{
    ViewData["Title"] = "order Listed";
}
<h3>
    Danh sách đơn hàng
</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Người giao hàng </th>
            <th scope="col">Ngày giao hàng</th>
            <th scope="col">Trạng thái đơn hàng</th>
            <th scope="col">Trạng thái giao hàng</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>

                <td>@item.Shipper.UserName</td>
                <td>@item.Delivery_Date</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class=" text-primary">Đơn hàng mới</span>
                    }
                    else if (item.Status == 0)
                    {
                        <span class=" text-success">Đã hoàn thành</span>
                    }
                    else
                    {
                        <span class=" text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    @if (item.Delivery_Status == 1)
                    {
                        <span class=" text-primary">chưa giao</span>
                    }
                    else if (item.Status == 0)
                    {
                        <span class=" text-success">Đã giao</span>
                    }
                    else
                    {
                        <span class=" text-danger">Đã hủy đơn</span>
                    }
                </td>
               
            </tr>

        }
    </tbody>
</table>
